.main-content
	position: relative
	overflow: hidden
	font-size: 0
	line-height: 0
	&:before
		content: ""
		width: 100%
		height: 100%
		background: rgba(#000, 0.5) 
		display: block
		position: absolute
		top: 0
		left: 0
	.banner-img
		margin-left: -100%
		width: 300%
		
		img
			min-width: 1/3*100%
			margin: auto
			display: block
	.wrapper	
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		&:before
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle
	.banner
		display: inline-block
		vertical-align: middle
		z-index: 15
		h3
			font-size: 60px
			line-height: 70px
			color: #fff
			letter-spacing: 2.3px
			+breakpoint(900px)
				font-size: 30px
				line-height: 32px
			strong
				display: block
				font-weight: 700
				font-size: 72px
				line-height: 74px
				color: #fff
				margin-top: 9px
				letter-spacing: 2.8px
				+breakpoint(900px)
					font-size: 32px
					line-height: 34px

.content
	overflow: hidden
	min-height: 815px
	position: relative
	&:after
		content: ""
		display: block
		border: 404px solid transparent
		border-right: 1920px solid #fff
		border-bottom: 0px solid #fff
		position: absolute
		bottom: 0px
		right: 0px
		z-index: 1
	.content-left
		width: 580/1180*100%
		float: left
		img 
			max-width: 100%
			display: block
			position: absolute
			top: 48px
			left: -206px
	.content-right
		width: 600/1180*100%
		color: #fff 
		float: right
		margin-top: 93px
		h4 
			font-size: 36px
			line-height: 38px
			margin-bottom: 39px
		p
			font-size: 18px
			letter-spacing: 1px
			line-height: 22px	

.corporate-colors
	// background: image-url("book.png") left 15px no-repeat
	overflow: hidden
	position: relative
	z-index: 10
	margin-top: -125px
	.corporate-colors-item
		float: right 
		max-width: 586px
		width: 100%
		padding-bottom: 130px
	h4 
		color: #231f20
		font-size: 36px
		line-height: 36px
		padding-bottom: 20px
	h5
		color: #b62025
		text-transform: uppercase
		font-size: 18px
		margin-top: 60px	
		margin-bottom: 5px	
		span 
			color: #231f20
	p
		color: #231f20
		text-transform: uppercase
		font-size: 18px
		font-weight: 700
		span 
			font-weight: 700
	.corporate-colors-items
		height: 190px
		width: 100%
		margin-top: 15px

.content-img
	overflow: hidden
	min-height: 839px
	position: relative
	margin-top: -98px
	&:after
		content: ""
		display: block
		border: 404px solid transparent
		border-right: 1920px solid #fff
		border-top: 0px solid #fff
		position: absolute
		top: 0px
		right: 0px
		z-index: 1
	.content-img-item
		img 
			max-width: 100%
			display: block
			position: absolute
			top: 0px
			left: -26px
.content-img1
	overflow: hidden
	position: relative
	min-height: 914px
	margin-top: -98px
	text-align: center
	.content-img-item
		text-align: center
		img 
			margin-top: 115px
			max-width: 100%
			display: block
			width: 100%

.content-slider
	padding: 225px 0
	.wrapper
		max-width: 1020px
		background: image-url("slider-bg.png") top center no-repeat
		background-size: 100%
		padding: 0 14px
.bb-bookblock
	+pie-clearfix
.bb-item
	img 
		width: 100%
		max-width: 100%
		display: block
.bb-custom-nav
	display: block
	.bb-nav-prev
		display: block
		width: 34px
		height: 65px
		position: absolute
		top: 50%
		background-image: image-url("arrow-r.png")
		right: -70px
		margin-top: -32.5px
	.bb-nav-next
		display: block
		width: 34px
		height: 65px
		background-image: image-url("arrow-l.png")
		position: absolute
		top: 50%
		left: -70px
		margin-top: -32.5px







